<p id="notice"><%= notice %></p>

<p>
  <strong>User idfk:</strong>
  <%= @postc.user_idfk %>
</p>


<p>
  <strong>Post title:</strong>
  <%= @postc.post_title %>
</p>



<p>
  <strong>Post description:</strong>
  <%= @postc.post_description %>
</p>



<p>
  <strong>Address:</strong>
  <%= @postc.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @postc.country %>
</p>


<p>
  <strong>Zip:</strong>
  <%= @postc.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @postc.city %>
</p>


<p>
  <strong>Price:</strong>
  <%= @postc.price %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @postc.home_type %>
</p>


<p>
  <strong>Rooms:</strong>
  <%= @postc.rooms %>
</p>


<p>
  <strong>Baths:</strong>
  <%= @postc.baths %>
</p>


<p>
  <strong>Price:</strong>
  <%= @postc.price %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @postc.price_type %>
</p>

<%= link_to 'Edit', edit_postc_path(@postc) %> |
<%= link_to 'Back', postcs_path %>
